/* text and titles */
.primary-headers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}

.regular-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-text);
    letter-spacing: 0.03em;
}