:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-hover: #2196f3;
  --color-hover-link: #188ce8;
  --color-link: #fff;
  --color-text: #757575;
  --color-svg: #afb1b8;
  --color-background: #fff;
  --background-alfa: rgba(47, 48, 58, 0.8);
}
