/* hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/dt-overlaybg.jpg);
  text-align: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/dt-overlaybg@2x.jpg);
  }

  @media (max-width: 767px) {
    min-width: 320px;
    max-width: 480px;
    width: auto;
    padding: 118px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/m-hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/m-hero-bg@2x.jpg);
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    background-position: center;
    background-size: cover;
  }

  &__header {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 0.06em;

    @media (min-width: 767px) {
      font-size: 44px;
      line-height: 1.3666;
    }
  }

  &__button {
    color: var(--color-link);
    background-color: #2196f3;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.875;
    cursor: pointer;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms, color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--color-link);
      background-color: #188ce8;
      cursor: pointer;
    }
  }
}
