/* whatwedo */
.what-we-do {
  @media (max-width: 767px) {
    display: none;
  }
}
.container__flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container__width {
  width: calc((100% - 60px) / 3);
}

.container__block {
  position: relative;
}

.container__description {
  position: absolute;
  bottom: 0%;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: var(--color-link);
  background-color: var(--background-alfa);
  padding: 27px 0px;
}

.container__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
